name: Presubmit

on:
  pull_request:
  push:
    branches-ignore:
      # push events to main branch occur after PRs are merged, when the same checks were run
      - main
  workflow_dispatch:

jobs:
  build-linux-x86_64-with-virgl:
    name: build rutabaga with virgl (Linux x86_64)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: x86_64-unknown-linux-gnu
          components: rust-src
      - uses: ./.github/actions/install-deps
      - name: Checkout virgl
        run: git clone --depth 1 https://gitlab.freedesktop.org/virgl/virglrenderer.git
      - name: Checkout minigbm
        run: git clone --depth 1 https://chromium.googlesource.com/chromiumos/platform/minigbm
      - name: build and install minigbm
        run: |
          cd minigbm
          sudo make install DESTDIR=/usr/local LIBDIR=/lib INCLUDEDIR=/include OUT=out
      - name: build and install virglrenderer
        run: |
          cd virglrenderer
          meson setup build
          ninja -C build
          sudo ninja -C build install
      - name: Build Project
        run: >
          cargo build --package rutabaga_gfx --features=virgl_renderer,gbm
          --target=x86_64-unknown-linux-gnu
